.box
{
  width: 100px;
  height: 100px;
  border: 1px solid black;

}
#first-div
{
float: left;
}
#second-div
{
float: right;
}
.clearfix
{
  clear: both;
}
p
{ float: left;
  margin-right: 25px;
  width: 80px;
  border: 2px dotted black;
  text-align: justify;
  hyphens: auto;
}
